# ignore all files and folders inside input and output:
input/**/* 
output/**/*
#ignore local eclipse preferences
code/scenarioGeneration/InnoZtools/.project
code/scenarioGeneration/InnoZtools/bin/*
# ignore temp files:
*~
